body {
    display: inline-block;
}
#submit {
    border: none;
    color: rgb(0, 174, 255);
    cursor: pointer;
}
.commentsContainer{
    
    margin-bottom: 0px;
    border: 1px solid;
    padding: 0;
    padding-left: 5px;
    position: relative;
    top: 100px;
    width: 700px;
    
}
.comments {
    font-size: 25pt;
    margin-top: 0px;
    padding: 0px;
    border: 1px solid;
    padding-left: 5px;
    position: relative;
    top: 100px;
    width: 700px;
}
.post h1 {
    position: fixed;
    top: 0;
    left: 0;
    

}
#inputSection {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}
